html,
body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.esri-view-root {
  height: 100%;
}

#title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  /* line-height: 50px; */
}

.editArea-container {
  background: #fff;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  overflow: auto;
  padding: 10px 12px;
  width: 300px;
}

.edit-button:hover,
.edit-button:focus {
  background-color: #e4e4e4;
}

.inputInfo {
  font-size: 12px;
  height: 18px;
  margin-bottom: 4px;
  padding: 0 6px;
  width: 100%;
}

.list-heading {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #323232;
}

.edit-button {
  font-size: 14px;
  height: 18px;
  margin-top: 8px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #0079c1;
  color: #0079c1;
}

.or-wrap {
  background-color: #fff;
  height: 20px;
  margin: 1em 0;
  overflow: auto;
}

.or-text {
  background: #fff;
  line-height: 50px;
  padding: 0 2em;
  position: relative;
  top: -.75em;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.item {
  width: 100%;
  height: 25px;
  padding: 0;
  background-color: #775500;
}

.itemText {
  color: white;
  padding: 5px 0 0 5px;
  margin: 0;
  vertical-align: bottom;
  font-size: 12;
  font-weight: bold;
}

#legendDiv {
  padding-left: 15px;
  margin: 0;
}
